<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<!--顶部栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
  <input type="hidden" id="path" th:value="${#request.getContextPath()}">
  <a class="navbar-brand col-sm-1" th:href="@{/user/list/{id}(id=${session.userSession.getId()})}"
     th:text="${session.userSession.getUserCode()}"></a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" th:href="@{/logout}">登出</a>
    </li>
  </ul>
</nav>

<!--侧边栏-->

<nav class="col-md-1 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a th:class="${active=='main'?'nav-link active':'nav-link'}" th:href="@{/main.html}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-home">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          首页 <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='bill'?'nav-link active':'nav-link'}" th:href="@{/bill/list}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-file">
            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
            <polyline points="13 2 13 9 20 9"></polyline>
          </svg>
          订单管理
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='good'?'nav-link active':'nav-link'}" th:href="@{/good/list}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-shopping-cart">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
          </svg>
          商品管理
        </a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('1')">
        <a th:class="${active=='user'?'nav-link active':'nav-link'}" th:href="@{/user/list}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-users">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          员工管理
        </a>
      </li>
    </ul>
  </div>
</nav>

<!--分页-->
<nav aria-label="Page navigation example" class="mt-4" th:fragment="page_navi">
  <ul class="pagination justify-content-center pagination-sm">
    <li th:class="${pageParam.getCurrent()!=1?'page-item':'page-item disabled'}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],1)|">首页</a>
    </li>
    <li th:class="${pageParam.hasPrevious()==true?'page-item':'page-item disabled'}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()-1})|">上一页</a>
    </li>
    <li class="page-item" th:if="${pageParam.getCurrent()-2>0}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()-2})|"
         th:text="${pageParam.getCurrent()-2}"></a>
    </li>
    <li class="page-item" th:if="${pageParam.hasPrevious()}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()-1})|"
         th:text="${pageParam.getCurrent()-1}"></a>
    </li>
    <li class="page-item active">
      <a class="page-link"
         th:text="${pageParam.getCurrent()}"></a>
    </li>
    <li class="page-item" th:if="${pageParam.hasNext()}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()+1})|"
         th:text="${pageParam.getCurrent()+1}"></a>
    </li>
    <li class="page-item" th:if="${pageParam.getCurrent()+2<=pageParam.getPages()}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()+2})|"
         th:text="${pageParam.getCurrent()+1}"></a>
    </li>
    <li th:class="${pageParam.hasNext()==true?'page-item':'page-item disabled'}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getCurrent()+1})|">下一页</a>
    </li>
    <li th:class="${pageParam.getCurrent()!=pageParam.getPages()?'page-item':'page-item disabled'}">
      <a class="page-link" th:href="|javascript:page_nav(document.forms[0],${pageParam.getPages()})|">尾页</a>
    </li>
  </ul>
  <script th:inline="javascript">
    function page_nav(frm, num) {
      frm.pageIndex.value = num;
      frm.submit();
    }

  </script>
</nav>
</html>
