<!DOCTYPE html>

<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>订单列表</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/dashboard.css}" rel="stylesheet">

</head>

<body>
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
  <div class="row">
    <div th:replace="~{commons/commons::sidebar(active='bill')}"></div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <form class="form-control">
        <form>
          <div class="form-group">
            <label>订单编号：</label>
            <input type="text" status="" placeholder="订单编号"
                   class="form-control" readonly id="billCode" th:value="${bill.getBillCode()}">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>商品编号</label>
            <input th:value="${bill.getGoodCode()}" readonly type="text" id="goodCode" class="form-control"
                   placeholder="商品编号">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>商品名</label>
            <input th:value="${bill.getGoodName()}" type="text" id="goodName" readonly class="form-control"
                   placeholder="商品名">
            <input type="hidden" id="inventory">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>购买数量</label>
            <input th:value="${bill.getQuantity()}" type="text" readonly name="quantity" id="quantity" class="form-control"
                   placeholder="购买数量">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>商品单价</label>
            <input th:value="${bill.getGoodPrice()}" type="text" readonly name="goodPrice" id="goodPrice" class="form-control"
                   placeholder="商品单价">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>总价</label>
            <input th:value="${bill.getTotalPrice()}" readonly type="text" name="totalPrice" id="totalPrice"
                   class="form-control"
                   placeholder="总价">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>顾客账号</label>
            <input th:value="${bill.getCustomerCode()}" status="" readonly type="text" id="customerCode"
                   class="form-control"
                   placeholder="顾客账号">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>顾客名称</label>
            <input th:value="${bill.getCustomerName()}" status="" type="text" readonly id="customerName" class="form-control"
                   placeholder="顾客名称">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>地址</label>
            <input th:value="${bill.getAddress()}" readonly type="text" name="address" class="form-control"
                   placeholder="地址">
          </div>

          <div class="form-group">
            <label>支付方式</label>
            <input th:value="${bill.getPaymentMethodName()}" readonly type="text" class="form-control"
                   placeholder="支付方式">
          </div>

          <div class="form-group">
            <label>下单时间：</label>
            <input type="text" status="" placeholder="下单时间"
                   class="form-control" readonly  th:value="${#dates.format(bill.getBillTime(),'yyyy-MM-dd hh:mm:ss')}">
            <div class="alert sr-only" role="alert">
            </div>
          </div>

          <div class="form-group">
            <label>支付时间：</label>
            <input type="text" status="" placeholder="支付时间"
                   class="form-control" readonly  th:value="${#dates.format(bill.getDeliveryTime(),'yyyy-MM-dd hh:mm:ss')}">
            <div class="alert sr-only" role="alert">
            </div>
          </div>
          <button class="btn btn-primary" type="button" th:onclick="|history.back(-1)|">返回</button>
      </form>
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}" th:charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}" th:charset="UTF-8"></script>

</body>

</html>
