<!DOCTYPE html>
<html lang="zh_CN" xmlns:th=http://www.thymeleaf.org>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Signin</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/signin.css}" rel="stylesheet">
  <style>
    p {
      color: red
    }
  </style>
</head>

<body class="text-center">
<form class="form-signin" method="POST" th:action="@{/user/login}">
  <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal" th:text="#{tip}"></h1>
  <!--/*@thymesVar id="msg" type=""*/-->
  <p th:text="${msg}" th:if="${!#strings.isEmpty(msg)}"></p>
  <input type="text" name="username" class="form-control" th:placeholder="#{UserName}" required="" autofocus="">
  <input type="password" name="userpasswd" class="form-control" th:placeholder="#{PassWord}" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" name="remember-me" value="true" th:text="#{Remember}">
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{SignIn}"></button>
  <p class="mt-5 mb-3 text-muted">© 1919-08-10</p>
  <a class="btn btn-sm" th:href="@{/index.html(lang=zh_CN)}">中文</a>
  <a class="btn btn-sm" th:href="@{/index.html(lang=en_US)}">English</a>
</form>

</body>

</html>
